DATABASE_URL=prisma-db-url
AUTH_URL=http://localhost:3000
AUTH_SECRET=better-auth-secret
AUTH_GITHUB_ID=github-client-id
AUTH_GITHUB_SECRET=github-client-secrets


# vercel postgres
practice_next_js_db_PRISMA_DATABASE_URL=************
practice_next_js_db_POSTGRES_URL=************
practice_next_js_db_PRISMA_DATABASE_URL=*******************